{{#each this}}
  <h1>{{name}}</h1>
  <div class='country-box'>
    <div>
      <p>Capital: {{capital}}</p>
      <p>Population: {{population}}</p>
      <ul>Languages:
        {{#each languages}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class='flag'>
      <img src='{{flag}}' alt='flag {{name}}' /></div>
  </div>
{{/each}}